.content {
    box-sizing: border-box;
    width: 50%;
    padding: 4rem;
    padding-right: 5.35rem;
}

.title {
    font-size: 2.4rem;
    color: var(--white);
    margin-bottom: 2.25rem;
}

.accent {
    color: var(--accent);
}

.description {
    font-size: 1.1rem;
    color: var(--paragraph);
    margin-bottom: 6rem;
    max-width: 375px;
    line-height: 1.5rem;
}

.stats-list {
    list-style: none;
    display: flex;
}

.stats-item {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.stats-count {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: .35rem;
}

.stats-heading {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    color: var(--stat-heading);
    font-size: .85rem;
}