.image-container {
    background: var(--accent);
    border-radius: 0 10px 10px 0;
    width: 50%;
}

.image-source {
    filter: blur(1px);
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}
