.image-container {
    background: url(../../images/image-header-desktop.jpg) no-repeat center / cover;
    border-radius: 0 10px 10px 0;
    width: 50%;
}

.image-effect {
    background-color: var(--accent);
    height: 100%;
    mix-blend-mode: multiply;
}