@media screen and (min-width: 1400px) {
    :root { font-size: 16px; }
}

@media screen and (max-width: 1000px) {
    :root { font-size: 14px; }

    .content {
        width: 60%;
    }
    .image-container {
        width: 40%;
    }
}

@media screen and (max-width: 760px) {
    body {
        height: auto;
        padding: 10% 0; 
    }

    main {
        height: auto;
        flex-direction: column-reverse;
    }

    .content {
        width: 100%;
        padding: 1.5rem;
        text-align: center;
    }

    .description {
        margin-bottom: 2rem;
    }

    .stats-list {
        flex-direction: column;
    }

    .stats-item {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .image-container {
        width: 100%;
        height: 270px;
        border-radius: 10px 10px 0 0;
        background: url(../images/image-header-mobile.jpg) no-repeat center / cover;
    }
}

@media screen and (min-height: 1100px) {
    :root { font-size: 24px; }
}